/* Custom overide css for a generic template */
header{
    background-image: none !important;
}
@media(min-width:768px) {
    header {
        min-height: 0%;
    }
}
.breadcrumbs {
    margin-bottom: auto !important;
    box-shadow: inset 0 0 9px #281A1A;
    /* background: url(../img/breadcrumbs.png) repeat; */
}
section {
    padding: 42px 0px 0px 0px !important;
    margin-bottom: auto !important;
}

aside {
    padding: 42px 0px 0px 0px !important;
    margin-bottom: auto !important;
}
.footer{
    overflow: hidden;
    margin: 0px !important;
}
.bd-third-color{
    background-color: #2A2B34;
    color: #fff;
    box-shadow: inset 0 0 9px #281A1A;
}

table, th, tr, td {
    border: 2px solid #f05f40 !important;
}

canvas{
    height: 300px !important;
    width: 300px !important;
    width: 100% !important;
    /* max-width: 400px; */
    /* height: auto !important; */
}
