/* Custom overide css for a generic template */
/* header{ */
/*     background-image: none !important; */
/* } */
@media(min-width:768px) {
    header {
        min-height: 0%;
    }
}
.breadcrumbs {
    margin-bottom: -50px !important;
    /* box-shadow: inset 0 0 9px #281A1A; */
    /* background: url(../img/breadcrumbs.png) repeat; */
}

section {
    padding: 70px  0 !important;
    /* margin-top:-40px  !important; */
    /* padding: 42px 0px 0px 0px !important; */
    margin-bottom: auto !important;
}

aside {
    padding: 70px 0 !important;
    /* margin-top:-40px  !important; */
    /* padding: 42px 0px 0px 0px !important; */
    margin-bottom: auto !important;
}
.footer{
    overflow: hidden;
    margin: 0px !important;
}
.bd-third-color{
    background-color: #2A2B34;
    color: #fff;
    box-shadow: inset 0 0 9px #281A1A;
}

table, th, tr, td {
    border: 0px solid #f05f40 !important;
    padding-left: 5px;
}


/* Canvas sizes for various devices: Mobile first method */

/* Custom, iPhone Retina */ /* Extra Small Devices, Phones */  /* Small Devices, Tablets */
@media only screen and (min-width : 320px),
@media only screen and (min-width : 480px),
@media only screen and (min-width : 768px) {

    canvas{
        /* height: 225px !important; */
        /* width: 225px !important; */
        width: 100% !important;
        /* max-width: 400px; */
        /* height: auto !important; */
    }
    }

 /* Medium Devices, Desktops *//* Large Devices, Wide Screens */
@media only screen and (min-width : 992px),
@media only screen and (min-width : 1200px) {

    canvas{
        height: 225px !important;
        width: 225px !important;
        width: 100% !important;
        /* max-width: 400px; */
        /* height: auto !important; */
    }
}

/* End of canvas customization */

.faq{
    background-color: #fff;
    color: #333;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    display: block;
    margin-bottom: 30px !important;
    border: 0;
}

.btn:focus,.btn:active {
    outline: none !important;
}


.panel-department > .panel-heading {
    background-color: #f05f40;
    color: #fff;
    font-family: 'Ubuntu',sans-serif;
}

.panel-department{
    border-radius: 0 !important;
     box-shadow: 0px 0px 9px #fafafa;
}

/* Change font to Ubuntu in the breadcrumbs section */
.section-heading-ubuntu {
    font-family: 'Ubuntu',sans-serif !important;
    font-weight:200;
    font-size: 35px;
}

.third-color-kbd{
    color: #4D4949;
    background-color: #BCBCBC;
    border-radius: 0;
}

.reachus-section{
   padding: 50px 0 !important;
   margin-top: 0;
   margin-bottom: none !important;
}

.reachus-container{
    padding-bottom: 25px;
}

.icon-quickcontacts + p {
    display: inline !important;

}

.icon-para{
    display: block !important;
}


/* Responsive iFrame */

.responsive-iframe-container {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    height: auto !important;

    background-color: #fff;
    border-color:#000;
}

.responsive-iframe-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}