/* Custom overide css for a generic template */
/* header{ */
/*     background-image: none !important; */
/* } */
@media(min-width:768px) {
    header {
        min-height: 0%;
    }
}
.breadcrumbs {
    margin-bottom: -50px !important;
    /* box-shadow: inset 0 0 9px #281A1A; */
    /* background: url(../img/breadcrumbs.png) repeat; */
}

section {
    padding: 70px  0 !important;
    /* margin-top:-40px  !important; */
    /* padding: 42px 0px 0px 0px !important; */
    margin-bottom: auto !important;
}

aside {
    padding: 70px 0 !important;
    /* margin-top:-40px  !important; */
    /* padding: 42px 0px 0px 0px !important; */
    margin-bottom: auto !important;
}
.footer{
    overflow: hidden;
    margin: 0px !important;
}
.bd-third-color{
    background-color: #2A2B34;
    color: #fff;
    box-shadow: inset 0 0 9px #281A1A;
}

table, th, tr, td {
    border: 0px solid #f05f40 !important;
    padding-left: 5px;
}

canvas{
    height: 225px !important;
    width: 225px !important;
    width: 100% !important;
    /* max-width: 400px; */
    /* height: auto !important; */
}

.faq{
    background-color: #fff;
    color: #333;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    display: block;
    margin-bottom: 30px !important;
    border: 0;
}

.btn:focus,.btn:active {
    outline: none !important;
}


.panel-department > .panel-heading {
    background-color: #f05f40;
    color: #fff;
    font-family: 'Ubuntu',sans-serif;
}

.panel-department{
    border-radius: 0 !important;
     box-shadow: 0px 0px 9px #fafafa;
}

.reachus-address {
    line-height: 20px !important;
    font-family: 'Ubuntu',sans-serif;
}

.reachus-address > a {
    padding-top:2px;
    color: #fafafa !important;
    text-decoration: none;
}

.reachus-address > a:hover,
.reachus-address > a:focus{
    color: #f05f40 !important;
}

/* Change font to Ubuntu in the breadcrumbs section */
.section-heading-ubuntu {
    font-family: 'Ubuntu',sans-serif !important;
    font-weight:200;
    font-size: 35px;
}
